@model IEnumerable<PackageRegistrationIndexViewModel>;
@{
    ViewBag.Title = "Package List";
}
    <div class="side-app">
        @*<div class="page-header">
            <h4 class="page-title">Tax</h4>
            <ol class="breadcrumb">

            </ol>
        </div>*@
        <div class="row">

            <div class="col-md-12 col-lg-12">
                <div class="card-header">
                    <h3 class="card-title">Package List</h3>
                </div>
                <div class="card">
                    <div style="text-align:right;padding-right: 20px;padding-left: 0px;padding-top: 10px;">
                        <a class="btn btn-sm btn-primary float-md-right;" asp-action="Create"> Add New Package</a>
                    </div>


                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="example2" class="hover table-bordered border-top-0 border-bottom-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        
                                        <th class="text-warning">Actions</th>

                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {

                                        <tr>
                                            <td>
                                                @item.name
                                            </td>
                                           

                                            <td>
                                                <a class="btn btn-primary btn-sm mb-1" data-toggle="tooltip" data-original-title="View" asp-action="Edit" asp-route-id="@item.id">  <i class="fa fa-edit"></i> </a>
                                                <a class="btn btn-danger btn-sm text-white mb-1" data-toggle="tooltip" data-original-title="Delete" asp-action="Delete" asp-route-id="@item.id"><i class="fa fa-trash-o"></i></a><br>

                                                @*<a class="text-success" asp-action="Edit" asp-route-id="@item.id">
                                                    <i class="fas fa-edit"></i> Edit
                                                </a>

                                                <a class="text-danger" asp-action="Delete" asp-route-id="@item.id">
                                                    <i class="far fa-trash-alt"></i> Delete
                                                </a>*@
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                                @*<tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Percentage</th>
                                        <th class="text-warning">Actions</th>
                                    </tr>
                                </tfoot>*@
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@*<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Package List</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> Add New Package</a>

                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td>
                                            @item.name
                                        </td>

                                        <td>
                                            <a class="text-success" asp-action="Edit" asp-route-id="@item.id">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>

                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.id">
                                                <i class="far fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />




                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
