@model TalukaEditViewmodel
@{
    ViewBag.Title = "Edit Registration";
}
    
<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Taluka List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New Taluka Registration</li>
                </ol>
            </nav><br /><br />

             

            <form name="form1" method="post" enctype="multipart/form-data" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="countryid"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="countryid" id="countryid" asp-for="countryid" class="form-control"
                                asp-items="@ViewBag.Countries"
                                onchange="DoPostBack();">
                            <option>--- Select  ---</option>
                        </select>
                      
                        <span asp-validation-for="countryid" class="text-danger"></span>

                    </div>



                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="stateid"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="stateid" id="stateid" asp-for="stateid" class="form-control"
                                asp-items="@ViewBag.States">
                             
                            <option>--- Select  ---</option>
                        </select>
                       


                        <span asp-validation-for="stateid" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="cityid"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <select name="cityid" id="cityid" asp-for="cityid" class="form-control"
                               asp-items="@ViewBag.Cities">


                            <option>--- Select  ---</option>
                        </select>


                        <span asp-validation-for="cityid" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label asp-for="talukaname"></label>
                    </div>
                    <div class="form-group col-md-4">
                        <input asp-for="talukaname" class="form-control" placeholder="Enter City Name.." />
                        <span asp-validation-for="talukaname" class="text-danger"></span>

                    </div>
                </div>



                <div class="form-group">

                    <button type="submit" class="btn btn-rounded btn-primary float-left"><i class="fas fa-plus-square" style="margin-right:0.7em"></i>Update</button>
                    <a asp-action="index" class="btn btn-rounded btn-success float-right"><i class="fas fa-caret-square-left" style="margin-right:0.7em"></i>Back</a>
                    <br />
                    <br />
                    <br />

                </div>
            </form>
        </div>
    </div>
</div>

@*@section Scripts{
        @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }*@

<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(function() {
        $("#countryid").change(function () {

            var url = '@Url.Content("~/")' + 'Admin/CityRegistration/getstatebyid';
            var ddlsource = "#countryid";
            $.getJSON(url,
                { id: $(ddlsource).val() },
                function (data) {
                //   console.log(data);
                    var item = '';
                    $("#stateid").empty();
                    $("#cityid").empty();
                    $.each(data, function (i, row) {

                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#stateid").html(item);
                }
            )
        });

        $("#stateid").change(function () {

            var url = '@Url.Content("~/")' + 'Admin/Taluka/getCitybyStateid';
            var ddlsource1 = "#stateid";
            $.getJSON(url,
                { stateid: $(ddlsource1).val() },
                function (data) {
                //   console.log(data);
                    var item = '';
                    $("#cityid").empty();
                    $.each(data, function (i, row) {

                        item += "<option value='" + row.value + "'>" + row.text + "  </option > ";
                       // alert(row);
                    });
                    $("#cityid").html(item);
                }
            )
        });
    });
    
</script>