@model plathora.pagination.CustomerRegPagination<CustomerRegistrationIndexViewModel>
@{
    ViewBag.Title = "Affiltate Details";
}


<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Customer List</li>
                    </ol>
                </nav><br /><br />
                <div class="row">
                    <div class="col-md-12 table-responsive-md">
                        <a class="btn btn-xs btn-outline-success float-md-right" asp-action="Create"> New Customer</a>

                        <table class="table table-striped tblShow">
                            <thead>
                                <tr>
                                    <th style="display:none;">id</th>
                                    <th>Name</th>
                                    <th>Photo</th>
                                    <th>Mobile No</th>
                                    <th>Date of Birth</th>
                                    <th>Registration Date</th>
                                    <th>Active</th>
                                    <th class="text-warning">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {

                                    <tr>
                                        <td  style="display:none;">

                                            <a asp-action="Detail" asp-route-id="@item.id" id="lblid">
                                                @item.id
                                            </a>
                                        </td>
                                        <td>
                                            <a asp-action="Detail" asp-route-id="@item.id">
                                                @item.name
                                            </a>
                                        </td>
                                        <td>
                                            <img alt="image" src="@Url.Content(item.profilephoto)" />
                                        </td>
                                        <td>@item.mobileno1</td>

                                        <td>@item.DOB.ToString("dd/MM/yyyy")</td>

                                        <td>@item.createddate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <input type="checkbox" id="@item.id" asp-for="@item.isactive" value="@item.isactive" checked="@item.isactive" />
                                        </td>
                                        <td>
                                            <a class="text-success" asp-action="Edit" asp-route-id="@item.id">
                                                <i class="fas fa-edit"></i> Edit
                                            </a>

                                            <a class="text-danger" asp-action="Delete" asp-route-id="@item.id">
                                                <i class="far fa-trash-alt"></i> Delete
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table><br />
                        @{
                            var disablePrevious = !Model.IsPreviousAvailable ? "disabled" : "";
                            var disableNext = !Model.IsNextAvailable ? "disabled" : "";
                        }

                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           class="btn btn-primary @disablePrevious">
                            Previous
                        </a>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           class="btn btn-primary @disableNext">
                            Next
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript">
    $(".tblShow").on("click", ":checkbox", function () {

        //var message = "Id Name                  Country\n";
        var status = 0;
        var Id = 0;
        //var row;

        if ($(this).is(':checked')) {

            row = $(this).closest("tr")[0];
           // Id = row.cells[0].innerText;
            Id= $(this).closest('tr').find('#lblid').text();

            status = true
        }
        else {
            row = $(this).closest("tr")[0];
          //  $(this).parents("tr:first").css('background-color', $(this).parents("tr:first").data('prevColor'))
            status = false;
            //Id = row.cells[0].innerHTML;
            Id = $(this).closest('tr').find('#lblid').text();
            // alert(name);
        }
      //  alert(Id +"  "+status);
       // alert(Id);
        ////call webapi

         $.ajax({
            method: "POST",
             url: "/CustomerRegistration/updateStatus/",
             data: { status: status, id: Id }
        })
            .done(function (msg) {
                if (msg == 1) {
                    // $("#divMessage").html("Error : Duplicate Email Id Found.");
                    alert("Status Updated Successfully");
                     
                } else {
                    alert("Status Not Updated Successfully");
                }
                //$("#btnValidate").val("Validate");
            });
        //alert(status + "," + Id);
    });

</script>