@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@*<ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {



            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">

                    <span class="text-white"><i class="fa fa-arrow-up text-green"> </i>Hello @User.Identity.Name</span>
                </a>
                <ul>
                     <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
                </form>
            </li>
                </ul>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>*@

@if (SignInManager.IsSignedIn(User))
{

    string userName = TempData["userName"].ToString();
    string profilephoto = TempData["profilephoto"].ToString();

    TempData.Keep("userName");
    TempData.Keep("profilephoto");


    <a class="nav-link pr-0 leading-none user-img" data-toggle="dropdown" asp-area="Identity" asp-page="/Account/Manage/Index">
        <img src="@profilephoto" alt="profile-img" class="avatar avatar-md brround">
        <span class="text-white">
            @*Hello @User.Identity.Name*@
            Hello @userName
        </span>

    </a>
    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow ">
        @*<a class="dropdown-item" href="profile.html">
                <i class="dropdown-icon icon icon-user"></i> My Profile
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon icon icon-speech"></i> Inbox
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon  icon icon-settings"></i> Account Settings
            </a>*@
        <a class="dropdown-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
            </form>
            @*<i class="dropdown-icon icon icon-power"></i> Log out*@
        </a>
    </div>


    @*<li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-primary">Logout</button>
            </form>
        </li>*@
}
else
{

    <a style="display:none;" class="nav-link pr-0 leading-none user-img" asp-area="Identity" asp-page="/Account/Register">
        <span class="text-white">Register</span>


    </a>
    <a class="nav-link pr-0 leading-none user-img" asp-area="Identity" asp-page="/Account/Login">

        <span class="text-white">
            Login
        </span>

    </a>
    @*<li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>*@
}

