@model AffiltateRegistrationDetailsViewModel;
@{
    ViewBag.Title = "Details";
}
<div class="col-md-12 grid-margin grid-margin-md-0">
    <div class="card">
        <div class="card-body">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-action="Index">Affiltate List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Affiltate Registration Details</li>
                </ol>
            </nav><br /><br />
            @*id, name, profilephoto, mobileno1, mobileno2, emailid1, emailid2, adharcardno, adharcardphoto,
                pancardno, pancardphoto,
            password, gender, DOB, createddate*@
            <div class="wrap d-flex justify-content-start justify-content-sm-center flex-wrap">
                <img class="rounded-circle shadow-lg" style="width:300px; height:350px" src="@Url.Content(Model.profilephoto)" alt="" />
                <div class="wrap align-items-center ml-5">
                    <p class="font-weight-bold text-success" style="font-size:20px">@Model.name  </p>
                    <p class="font-weight-normal"> Mobile No : @Model.mobileno1</p>
                    <p class="font-weight-normal"> Email ID : @Model.emailid1</p>
                    <p class="font-weight-normal">Adhar Card No. : @Model.adharcardno</p>
                    <p class="font-weight-normal">Pancard No. : @Model.pancardno  </p>
                    <p class="font-weight-normal">Gender : @Model.gender</p>
                    <p class="font-weight-normal">date of Birth: <a href="#">@Model.DOB.ToString("MM/dd/yyyy")</a></p>
                     
                    <br />
                    <br />
                </div>
            </div>
        </div>
    </div>
</div>
